<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zfj.xmy.activity.persistence.cms.dao.CmsLimitGoodsExMapper" >
  <resultMap id="BaseResultMap" type="com.zfj.xmy.activity.persistence.cms.pojo.dto.LimitGoodsDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="limit_id" property="limitId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="limit_num" property="limitNum" jdbcType="INTEGER" />
    <result column="all_num" property="allNum" jdbcType="INTEGER" />
    <result column="complete_num" property="completeNum" jdbcType="INTEGER" />
    <result column="code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="name" property="goodsName" jdbcType="VARCHAR" />
    <result column="gprice" property="goodsPrice" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="activity_time" property="activityTime" jdbcType="TIMESTAMP" />
    
  </resultMap>
 
 <select id="selectLimitGoods" parameterType="com.appdev.db.common.CriteriaParameter" resultMap="BaseResultMap">
	select l.* ,g.code goodsCode,g.name name,g.price goodsPrice,g.supplier_name supplierName,g.brand_name brandName,g.category_name  categoryName from limit_goods l
	LEFT JOIN goods g on l.goods_id=g.id 
  <if test="_parameter != null" >
     <include refid="sqlcriteria.util.Example_Where_Clause" /></if>
   <if test="orderByClause != null" >
     order by ${orderByClause}
   </if>
</select>
 
 
</mapper>